/* Soluzione qui */

/* start code */

/* ---- tablet query ---- */
@media screen and (min-width: 768px) {

    /* logo a sx */
    #topbar {
        justify-content: flex-start;
    }

    /* padding main */
    main {
        padding: 48px;
    }

    /* full title */
    .recipe-origin {
        display: inline;
    }

    /* title size */
    .recipe-title {
        font-size: 1.25rem;
    }
}


/* ---- laptop / desktop query ---- */
@media screen and (min-width: 992px) {

}